footer {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #333; */
}
.footer_section {
  border-top: 1px solid rgb(160, 157, 157);
  display: flex;
  width: 80%;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  color: #333;
}
.fotter_section_header h3 {
  color: #c60;
}
.carousel-section {
  display: flex;
  /* flex-basis: 80%; */
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex: 0 1 80%;
}
.carousel-section_arrow_left,
.carousel-section_arrow_right {
  flex-basis: 2%;
  border: 1px solid rgb(170, 166, 166);
  padding: 10px;
  border-radius: 5px;
  align-self: center;
}
.carousel-section_arrow_right {
  text-align: right;
}
.carousel_section_body {
  flex-basis: 96%;
  display: flex;
}
.carousel_section_body_block {
  display: none;
}
.carousel_section_body_mySlides {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 30px;
  flex-basis: 80%;
}
.carousel_section_body_mySlides > div {
  max-width: 170px;
  height: 150px;
  margin: 10px;
}
