/* MOBLIE HIDDEN */
.main_nav_mobile {
  display: none;
}
.search_box_mobile {
  display: none;
}
.third_nav_mobile {
  display: none;
}
/* MOBILE HIDDEN END */
.main_nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
  padding: 4px 15px 4px 10px;
}
.main_nav_left {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
}
.main_nav_left_item {
  display: flex;
  justify-content: space-between;
}
.main_nav_left_item i {
  align-self: flex-end;
  padding: 10px;
}

.main_nav_left a {
  text-align: center;
  text-decoration: none;
  padding-right: 10px;
}
.main_nav_left p {
  font-size: 12px;
}

.logo {
  width: 100px;
  height: 50px;
}
.search_box_container {
  flex: 1 1 100%;
}
.search_box_container_wrap input {
  width: 1200px;
  padding: 9px;
  font-size: 17px;
  /* color: #000; */
}
.search_box_container_wrap button {
  padding: 10px 10px;
  color: #000;
  font-size: 17px;
  cursor: pointer;
}
.search_box_container__button_all {
  background-color: #ddd;
  border-radius: 5px 0 0 5px;
}
.search_box_container_button_search {
  background-color: rgb(247, 155, 80);
  margin-top: 2px;
}
.main_nav_right {
  flex: 1 1 20%;
}
.main_nav_right_item {
  padding: 10px 10px;
}
.main_nav_right_item i {
  padding: 0 5px;
  font-size: 10px;
}
.main_nav_right_item i:last-child {
  font-size: 25px;
}

.main_nav_right_item img {
  width: 25px;
  height: 30px;
  margin-bottom: -10px;
}
.main_nav_left_item:hover,
.main_nav_right_item:hover,
.main_nav_left a:hover {
  border: 1px solid #fff;
}

.second_nav {
  background-color: #232f3e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px 10px 10px;
}
.second_nav_hamburger {
  margin-right: 10px;
}

.second_nav ul {
  list-style: none;
  display: flex;
  font-size: 14px;
}
.second_nav li {
  padding: 0 10px;
}
.second_nav a {
  color: white;
  text-decoration: none;
}
.main_section_nav {
  border-bottom: 1px solid rgb(204, 202, 202);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 10px 15px 5px 10px;
}
.main_section_nav ul {
  list-style: none;
  display: flex;
  font-size: 12px;
}
.main_section_nav li {
  padding: 0 10px;
}
.main_section_nav a {
  color: #333;
  text-decoration: none;
}
.main_section_nav li:first-child {
  font-weight: bold;
}
